body {
    background-color: #fcffeb;
}

a {
    color:#2b303a;
}

a:hover {
    color: #57504D
}

.subpage-header {
    color: #ffffff00;
    font-size: 0rem;
}

.section-header-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 33% 33% 33%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.25rem;
    color: #2b303a;
}

.section-image {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.section-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    font-size: 1.15em;
    margin-top: 0.67em;
    margin-bottom: 0.5em;
    margin-right: 0;
    font-weight: bold;
}

.section-subtitle {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 2.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5rem;
    color: #57504D;
    display: block;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-right: 0;
    font-weight: bold;
}

.link-grid-container {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 0.5rem auto auto auto auto auto;
    grid-template-rows: 100%;
    padding-top: 1rem;
}

.link-grid-spacer {
    grid-column: 1 / 2; 
}

.link-grid-item-1 {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link-grid-item-2 {
    grid-column: 3 / 4;
    text-align: center;
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link-grid-item-3 {
    grid-column: 4 / 5;
    text-align: center;
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link-grid-item-4 {
    grid-column: 5 / 6;
    text-align: center;
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link-grid-item-5 {
    grid-column: 6 / 7;
    text-align: center;
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link-grid-button {
    background-color: #D64933;
    color: #fcffeb;
    width: 100%;
    font-size: 1rem;
    padding: 20px;
    text-decoration: none;
    border-radius:10%;
}

.link-grid-button:hover {
    color: #fcffeb;
    box-shadow: 5px 4px 5px 2px #57504D;
}

.new-window-icon {
    width: 1rem;
}

.section-body-container {
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
}

p {
    line-height: 1.25rem;
    margin-bottom: 0.1rem;
}

.section-break {
    border: 1px solid #57504D;
}

footer {
    margin-bottom: 5px;
}

.footer-text {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5rem;
    color:#2b303a;
}

.footer-link-grid-container {
    display: grid;
    grid-template-columns: 35% auto auto auto 35%;
    grid-template-rows: 100%;
}

.footer-link-grid-item-1 {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-link-grid-item-2 {
    grid-column: 3 / 4;
    text-align: center;
    font-size: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-link-grid-item-3 {
    grid-column: 4 / 5;
    text-align: center;
    font-size: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-link-grid-spacer-start {
    grid-column: 1 / 2; 
}

.footer-link-grid-spacer-end {
    grid-column: 5 / 6; 
}
